
<app-navbar></app-navbar>
<app-side-nav></app-side-nav>
<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">

        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="/assets/Img.jpg" alt="thumb image" class="thumb-image">
            </div>

        </div>
        <div class="text-container">
            <h1>Project 1 (Portfolio Website)</h1>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur reprehenderit illo dolores suscipit
                architecto ab ad! Consectetur, tempore! Laboriosam rerum velit quas porro expedita tempora aliquam
                dolorum explicabo tenetur, odio nisi eaque recusandae, maxime doloribus cupiditate at deleniti! Rerum,
                tempora voluptatibus fugiat blanditiis culpa cum ut eum excepturi ipsa modi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque quibusdam voluptas distinctio, iste
                aut perspiciatis placeat tenetur deserunt consectetur quia repellat maiores doloribus impedit doloremque
                aliquam exercitationem alias temporibus!
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
<div>
    <p>hello</p>
    <img src="/assets/reg.jpg" alt="cfrtgff" />
</div>